<app-header></app-header>

<body>
	<div class="col-md-10 col-md-offset-1">
  <div class="col-sm-6 col-md-4" align="center">
    <div class="thumbnail">
      <img src="assets/images/idea.png" alt="...">
      <div class="caption">
        <h3>Top 10 ideas</h3>
        <p>Encuentra aquí las mejores ideas de la semana.</p>
        <p><a href="http://www.hogardecristo.cl/noticias/nuevo-llamado-a-la-solidaridad-de-todos-los-chilenos-nuestro-norte-nuestra-ayuda/" class="btn btn-primary" role="button">Ir</a>
      </div>
    </div>
  </div>

	 <div class="col-sm-6 col-md-4" align="center">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc6PR13xIyjL3Zkb38nWEm-uVVHXDfF4o201KR7EWAA_PoVCt1" alt="...">
      <div class="caption">
        <h3>Teletón 2017</h3>
        <p>Las grandes novedades de la nueva Teletón: partirá en Valparaíso e incluirá a figuras de Viña 2018.
        Para donar, ingresa a la cuenta 24.500-03</p>
        <p><a href="https://www.bancochile.cl" class="btn btn-primary" role="button">Dona aquí</a>
      </div>
    </div>
  </div>
	
<div class="col-sm-6 col-md-4" align="center">
    <div class="thumbnail">
      <img src="http://donacionesweb.com/imagenes/inicio.jpg" alt="...">
      <div class="caption">
        <h3>Donar en alguna medida</h3>
        <p>Para donar anónimamente, puedes ingresar aquí</p>
        <p><a href="{{url('donateAnonymous')}}" class="btn btn-primary" role="button">Dona aquí</a>
      </div>
    </div>
  </div>

	
</div>  

	
</body>

